# ==============================
# Ignore everything by default
# ==============================
*

# ==============================
# Allow directories (for traversal)
# ==============================
!*/

# ==============================
# Explicitly ignore Visual Studio artifacts
# ==============================
ForceAlgoDll/obj/
ForceSim.App/obj/
.vs/

# ==============================
# Allow only these file types
# ==============================
!*.cs
!*.xaml
!*.png
!*.csv
!*.exe
!*.sln
!*.conf
!*.csproj
!*.txt
!*.c
!*.h
!*.dll
!*.user
!*.filters
!*.vcxproj
!*.cpp
!*.config
!*.settings
!*.resx
!*.md

# ==============================
# Allow gitignore itself
# ==============================
!.gitignore
